<mat-card *ngIf="repository">
	<mat-card-header>
		<div class="maxWidth100Percent">
			<mat-card-title><h2>{{repository.full_name}}</h2></mat-card-title>
			<mat-card-subtitle>{{repository.description}}</mat-card-subtitle>
		</div>
	</mat-card-header>
	<mat-card-content>
		<mat-list role="list">
			<mat-grid-list role="listitem" cols="3" rowHeight="60px">
				<mat-grid-tile>
					<mat-icon matBadge="{{repository.forks_count}}" matBadgeOverlap="false" matTooltip="{{repository.forks_count}} forks">usb</mat-icon>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-icon matBadge="{{repository.stargazers_count}}" matBadgeOverlap="false" matTooltip="{{repository.stargazers_count}} stars">grade</mat-icon>
				</mat-grid-tile>
				<mat-grid-tile>
					<mat-icon matBadge="{{repository.open_issues_count}}" matBadgeOverlap="false" matTooltip="{{repository.open_issues_count}} open issues">error_outline</mat-icon>
				</mat-grid-tile>
			</mat-grid-list>
			<mat-list-item role="listitem">
				<mat-icon mat-list-icon>link</mat-icon>
				<a class="maxWidth100Percent" href="{{repository.html_url}}" target="_blank" rel="noopener">{{repository.html_url}}</a>
			</mat-list-item>
		</mat-list>
		<h3>Issues</h3>
		<mat-progress-spinner *ngIf="repositoryIssuesLoadingIndicator.show" class="marginAuto" [color]="repositoryIssuesLoadingIndicator.color" [mode]="repositoryIssuesLoadingIndicator.mode" [value]="repositoryIssuesLoadingIndicator.value"></mat-progress-spinner>
		<mat-table *ngIf="!repositoryIssuesLoadingIndicator.show" [dataSource]="dataSource" class="width100Percent">
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			<ng-container matColumnDef="number">
				<mat-header-cell *matHeaderCellDef>number</mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.number}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="title">
				<mat-header-cell *matHeaderCellDef class="center">title</mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="state">
				<mat-header-cell *matHeaderCellDef class="center">state</mat-header-cell>
				<mat-cell *matCellDef="let element" class="center">{{element.state}}</mat-cell>
			</ng-container>
		</mat-table>
	</mat-card-content>
</mat-card>